@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Movie Buffs and Movies</h1>
    <p class="lead">Welcome! Would you like to visit the movie buffs page or the movies page?</p>
    <div class="d-flex gap-2 justify-content-center">
        <a href="/movie-buffs" class="btn btn-lg btn-primary">Movie Buffs</a>
        <a href="/movies" class="btn btn-lg btn-primary">Movies</a>
    </div>
</div>
