@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movies and Genres</h1>
    <div class="d-flex justify-content-center gap-2">
        <a href="/movies" class="btn btn-lg btn-primary">Go to movies</a>
        <a href="/genres" class="btn btn-lg btn-primary">Go to genres</a>
    </div>
</div>
