<!DOCTYPE html>
<html lang="en" data-theme="synthwave">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DadJokes</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="min-h-dvh flex flex-col">
    <partial name="./_Navbar.cshtml" />
    <div class="flex flex-grow">
        <main role="main" class="px-4 md:container flex flex-grow justify-center items-center">
            @RenderBody()
        </main>
    </div>
    <partial name="./_Footer.cshtml" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
