<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DadJokes</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="min-h-dvh flex flex-col">
    <header class="bg-cyan-900 p-4 text-white">
        <nav class="flex justify-between">
            <a href="/">DadJokes</a>
            <ul class="flex gap-2">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/privacy">Privacy</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="flex-grow bg-cyan-200">
        <main role="main" class="container py-16">
            @RenderBody()
        </main>
    </div>
    <footer class="p-6 bg-cyan-800 text-white">
        <div class="container">
            &copy; 2024 - DadJokes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
