<header class="navbar bg-base-200">
    <div class="container">
        <div class="flex-1">
            <a href="/" class="btn btn-ghost text-xl">Dad Jokes</a>
        </div>
        <nav class="flex-none flex items-center gap-4">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/">Home</a></li>
                <li><a href="/accounts/profile">Profile</a></li>
                <li><a href="/privacy">Privacy</a></li>
            </ul>
            <partial name="./_ThemeSwitcher.cshtml" />
        </nav>
    </div>
</header>