@model PetForm;

@{
    ViewData["Title"] = "Add a Pet";
}

<section>
    <h1 class="display-4 mb-3">Add a Pet</h1>

    <div class="card shadow">
        <div class="card-body">
            <form asp-action="CreatePet" asp-controller="Pet" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" asp-for="PetName"></label>
                    <input class="form-control" asp-for="PetName">
                    <span class="form-text text-warning" asp-validation-for="PetName"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="PetImage"></label>
                    <input class="form-control" asp-for="PetImage">
                    <span class="form-text text-warning" asp-validation-for="PetImage"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="PetImageDescription"></label>
                    <textarea class="form-control textarea" asp-for="PetImageDescription"></textarea>
                    <span class="form-text text-warning" asp-validation-for="PetImageDescription"></span>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Add pet</button>
                </div>
            </form>
        </div>
    </div>
</section>