@model List<Movie>;

@{
    var movies = Model;
}

<div class="card shadow">
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Buff</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in movies)
                {
                    <tr>
                        <td class="align-middle">@movie.Title</td>
                        <td class="align-middle">
                            @if (@movie.MovieBuff is not null)
                            {
                                @movie.MovieBuff.FullName
                            }
                        </td>
                        <td>
                            <a href="/movies/@movie.MovieId" class="btn btn-sm btn-primary">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
